[req]
default_bits        = 4096
default_md          = sha256
distinguished_name  = req_distinguished_name
x509_extensions     = v3_req
prompt              = no

[req_distinguished_name]
commonName = example\.local

[v3_req]
keyUsage            =critical,digitalSignature,keyEncipherment
extendedKeyUsage    =critical,serverAuth,clientAuth
subjectAltName      = @alt_names

[alt_names]
DNS.0   = example\.local
DNS.1   = www.example\.local
DNS.2   = *.example\.local
IP.0    = 127.0.0.1